/* Very Simple Event List */

#vsel {clear:both; margin:0 0 20px; padding:0 0 10px; border-bottom:1px solid #ccc;}
#vsel:after {content:''; display:block; clear:both;}
#vsel p {margin:0 0 10px;}
#vsel h4 {margin:0 0 10px;}
#vsel .vsel-meta {width:36%; float:left;}
#vsel .vsel-content {width:60%; float:right;}


@media screen and (max-width:767px) { 
	#vsel .vsel-meta {width:100%;}
	#vsel .vsel-content {width:100%; float:left;}
}